.item {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 18px 14px;
  min-width: 149px;

  border-radius: 15px;
  background: #FFF;
  backdrop-filter: blur(16.799999237060547px);
}

@media only screen and (min-width: 768px) {
  .item {
    padding: 20px;
    gap: 20px;
    min-width: 192px;
  }
}

.iconContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon{
  width: 38px;
  height: 38px;
  fill: #9BE1A0;
}

@media only screen and (min-width: 768px) {
  .icon {
    width: 44px;
    height: 45px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media only screen and (min-width: 768px) {
  .info {
    gap: 0;
  }
}

.quantity {
  color: #323F47;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  display: flex; 
  align-items: baseline; 
}

@media only screen and (min-width: 768px) {
  .quantity {
    font-size: 15px;
    line-height: 1.49em; 
  }
}

.time {
  color: rgba(47, 47, 47, 0.60);
  font-size: 12px;
  line-height: 1em;
  display: flex;
  align-items: baseline;
}
@media only screen and (min-width: 768px) {
  .time {
    line-height: 1.86em;
  }
}

.actionIconsContainer {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .actionIconsContainer {
    gap: 14px;
  }
}

.iconAction{
  width: 14px;
  height: 14px;
  stroke: #323F47;
  fill: none;
}

@media only screen and (min-width: 768px) {
  .iconAction {
    width: 16px;
    height: 16px;
  }
}