.item{
   display: flex; 
   flex-direction: column;
  
   gap: 18px;
    align-items: center;
    justify-content: center;
   
}

@media only screen and (min-width: 768px) {
.item {
        gap: 18px;
        
    }
}

.infoday{
    display: flex;
    flex-direction: column;
    width: 28px;
    height: 44px;
    align-items: center;
        justify-content: center;
        gap: 6px;
}

@media only screen and (min-width: 768px) {
.infoday {
        width: 38px;
        height: 65px;
        gap: 4px;
    }
}

.btn{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        text-align: center;
        color: #323f47;
        border: none;
        align-items: center;
}

.colorwhite{
    border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        color: #323f47;
        border: none;
        align-items: center;
    background-color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .colorwhite {
            width: 38px;
            height: 38px;
            font-size: 16px;
            line-height: 1.5;
        }
}
.colorgrey{
    border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        text-align: center;
        color: #323f47;
        border: none;
        align-items: center;
background: rgba(50, 63, 71, 0.2);
cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .colorgrey {
        width: 38px;
        height: 38px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.colordarkgrey{
    border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        text-align: center;
        border: none;
        align-items: center;
background-color: #323f47;
color:#9be1a0;
cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .colordarkgrey {
        width: 38px;
        height: 38px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.percent{
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 1;
        color: rgba(47, 47, 47, 0.6);
}

@media only screen and (min-width: 768px) {
.percent {
        font-size: 12px;
        line-height: 1.86;
    }
}