.dateText{
    color: #323F47;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.2px;
    
}

@media only screen and (min-width: 768px) {
    .dateText {
        font-size: 28px;
        line-height: 1.14em;
        letter-spacing: -0.28px;
    }
}