.container{
    border-radius: 30px;
    background: #F0EFF4;
    padding: 40px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        width: 672px;
        height: 736px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
