.popover {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  display: inline-flex;
  padding: 14px 40px 14px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);   
  z-index: 100;
  overflow: hidden;
  transform: translateY(-20px);
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.popoverVisible {
  max-height: 200px;
  transform: translateY(0);
}
.hidden {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


@media only screen and (min-width: 768px) {
  .popover {
    margin-top: 8px;
    right: 0;

  }
}

.button,
.buttonOut {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.286em;
  background: none;
  border: none;
}

.button {
  color: #323F47;
}

.buttonOut {
  color: rgba(50, 63, 71, 0.40);
}

.icon,
.iconOut {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: none;
}

.icon {
  stroke: #323F47;
}

.iconOut {
  stroke: rgba(50, 63, 71, 0.40);
}
