@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logOutModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  animation: modalFadeIn 0.3s ease-out;

  border-radius: 15px;
  border: none;

  padding: 40px 14px;
  max-width: 344px;
    width: calc(100vw - 32px);
  height: 267px;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .logOutModalContainer {
    gap: 24px;
    padding: 40px;
    width: 516px;
      max-width: 100%;
    height: 244px;
  }
}

.modalCloseButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.closeIcon {
  width: 24px;
  height: 24px;

  @media (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.logOutModalTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .logOutModalTextContainer {
    gap: 24px;
  }
}

.logOutModalTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .logOutModalTitle {
    font-size: 28px;
    line-height: 1.14em;
  }
}

.logOutModalText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .logOutModalText {
    font-size: 18px;
    line-height: 1.33em;
  }
}

.logOutModalBtnWrapper {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: column;
  gap: 9px;
    width: calc(100vw - 72px);
      max-width: 304px;
}

@media only screen and (min-width: 768px) {
  .logOutModalBtnWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
        width: 356px;
          max-width: 100%;
  }
}

.logOutModalBtn,
.logOutModalCancelBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  display: flex;
  align-items: center;
  text-wrap: nowrap;
  justify-content: center;

  border-radius: 30px;
  border: none;
  max-width: 304px;
  height: 46px;
}

@media only screen and (min-width: 768px) {

  .logOutModalBtn,
  .logOutModalCancelBtn {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.logOutModalBtn {
  background-color: #9be1a0;
  color: #323f47;
  transition: background-color 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .logOutModalBtn {
    width: 173px;
    height: 60px;
  }
}

.logOutModalCancelBtn {
  background-color: #f0eff4;
  color: rgba(50, 63, 71, 0.30);
  transition: color 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .logOutModalCancelBtn {
    width: 176px;
    height: 60px;
  }
}

.logOutModalBtn:hover {
  background-color: #87d28d;
}

.logOutModalCancelBtn:hover {
  color: #323F47;
}