@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.deleteModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  animation: modalFadeIn 0.3s ease-out;

  border-radius: 15px;
  border: none;

  padding: 40px 14px;
  width: 344px;
  height: 267px;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.deleteModalTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.deleteModalTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 316px;
  height: 58px;
}

.deleteModalText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.deleteModalBtnWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  margin: 0 auto;
  width: 304px;
  height: 101px;
}

.deleteModalBtn,
.deleteModalCancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 30px;
  border: none;
  padding: 14px 129px;
  width: 304px;
  height: 46px;

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.deleteModalBtn {
  background-color: #9be1a0;
  color: #fff;
}

.deleteModalCancelBtn {
  background-color: #f0eff4;
  color: #323f474d;
}

.deleteModalBtn:hover {
  background-color: #6ac96e;
  box-shadow: 0 0 10px 2px #6ac96e;
  transform: scale(1.05);
}

.deleteModalCancelBtn:hover {
  color: #2f2f2f;
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .deleteModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    border-radius: 15px;
    padding: 40px;
    width: 516px;
    height: 244px;

    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .deleteModalTextContainer {
    width: 436px;
    gap: 24px;
  }

  .deleteModalTitle {
    font-size: 28px;
    line-height: 1.14;
  }

  .deleteModalText {
    font-size: 18px;
    line-height: 1.33;
  }

  .deleteModalBtnWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .deleteModalBtn,
  .deleteModalCancelBtn {
    padding: 14px 50px;
    font-size: 16px;
    line-height: 1.5;
  }

  .deleteModalBtn {
    padding: 18px 67px;
  }

  .deleteModalCancelBtn {
    padding: 18px 59px;
  }
}
