.img{
background-image: url(../../../assets/images/main_page/main_page_desktop_girl_1x.webp);
background-repeat: no-repeat;
/* background-position:right; */
width: 672px;
height: 736px;
border-radius: 30px;
/* padding-left: 32px; */
margin-top:32px;
/* margin-left: 32px; */
float: right;
}