.normabox{
    width: 102px;
    height: 54px;
    border-radius: 15px;
    padding: 12px;

    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.normaAmount{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #323f47;

    margin-bottom: 6px;
}

.normaText{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: rgba(47, 47, 47, 0.6);
}