.userBar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 30px;
    background: #323F47;
    border: none;
    margin-bottom: 43px;
  }
  
.avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
  }
  
.userName {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.285em;
  letter-spacing: -0.14px;
  }

  .icon{
    width: 16px;
    height: 16px;
    stroke:#FFF;
  }