.userBarContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.userBar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 30px;
    background: #323F47;
    border: none;
  }

  @media only screen and (min-width: 768px) {
    .userBar {
      gap: 10px;
    }
}
  
.avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
  }

  @media only screen and (min-width: 768px) {
    .avatar {
      width: 44px;
      height: 44px;
      border-radius: 44px;
    }
}
  
.userName {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.285em;
  letter-spacing: -0.14px;
  }

  @media only screen and (min-width: 768px) {
    .userName {
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: -0.16px;
    }
}

  .icon{
    fill: transparent;
    width: 16px;
    height: 16px;
    stroke:#FFF;
  }

  @media only screen and (min-width: 768px) {
    .icon {
      width: 20px;
      height: 20px;
    }
}