.section {
  display: flex;
  gap: 32px;
  width: 100%;
}
.container {
  position: relative;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  background: #f0eff4;
  border-radius: 30px;
  width: 100%;
  gap: 172px;
  margin-top: 32px;

  @media (max-width: 374.98px) {
    max-width: 375px;
  }

  @media (min-width: 375px) {
    width: 375px;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: 1440px) {
    gap: 32px;
    max-width: 672px;
  }
}

.advantSect {
  display: none;
  @media (min-width: 1440px) {
    display: block;
  }
}
