.container {
    display: flex;
    flex-direction: column;
    gap: 24px; 
  }
  
  .row {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }

  .waterList{
    display: flex;
  }