.mainContainer {
  background-color: #f0eff4;
  border-radius: 30px;
  width: 672px;
  height: 732px;
  gap: 32px;
  margin-top: 32px;
  /* margin-left: 32px; */
  float:left;
  
}

.descr {
color: #2F2F2F;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.96px;

  padding-bottom: 16px;
}
.logoMain{
   margin-left: 32px;
   margin-top: 32px;
}

.welcome {
  padding: 132px 62px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 95%;
  letter-spacing: -0.01em;
  color: #323f47;
  padding-bottom: 32px;
}

.singup {
  padding-right: 16px;
}

.btn {
  padding-right: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border: none;
  background-color: #9be1a0;
  padding: 18px 40px;
  border-radius: 30px;
}

.btn:hover{
    background-color: #87D28D;
}
.btnSingIn {
  padding-right: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  padding: 18px 40px;
  border-radius: 30px;
  border: 1px solid #323F47;
}
.btnSingIn:hover{
    border: 1px solid #87D28D;
    color:#87D28D;
    
}

@media screen and (max-width: 768px) {
  /* Styles for laptop or smaller devices */
  .mainContainer {
    width: 704px;
    height: 498px;
  }
.welcome {
  padding: 50px 64px;
}

.title {

  font-size: 64px;
  line-height: 109.375%;
letter-spacing: -0.64px;
}

.descr{
  font-size: 14px;
  line-height: 18px; /* 128.571% */
letter-spacing: 0.84px;
}




}

@media screen and (max-width: 375px) {
  /* Styles for small phones */
  .mainContainer {
    width: 343px;
    height: 411px;
  }

  .title{
    font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 38px;
  }

  .welcome {
  padding: 74px 16px;
}
.btn{
padding:14px 19px;
}

.btnSingIn{
  padding:14px 28px;
}

}
