.mainContainer {
  max-width: 343px;
  height: 411px;
  padding: 24px 16px;
  background-color: #f0eff4;
  border-radius: 30px;
}

.logoMain {
margin-bottom: 74px;
}

.descr {
  margin-bottom: 16px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: 0.06em;
}

.title {
  margin-bottom: 32px;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  font-family: "Poppins", sans-serif;
  color: #323f47; 
  letter-spacing: -0.01em;
}

.btn {
padding: 14px 19px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.01em;
  color: #323f47;
  border: none;
  background-color: #9be1a0;
  border-radius: 30px;
}
.btn:hover {
  background-color: #87d28d;
}

.btnSingIn {
  padding: 14px 28px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.14px;
  text-align: center;
  color: #323f47;

  border-radius: 30px;
  border: 1px solid #323f47;
}

.btnSingIn:hover {
  border: 1px solid #87d28d;
  color: #87d28d;
}




/* ======================= SCREEN 768px ====================================================== */




@media screen and (min-width: 768px) {
  .mainContainer {
    max-width: 704px;
    height: 498px;
    padding: 16px 32px;
  }
  .welcome {
    margin-left: 64px;
    margin-top: 50px;;
  }

  /* .logoMain {
    margin-left: 32px;
    margin-top: 32px;
  } */

  .title {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.64px;
  }

  .descr {

font-size: 16px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.96px;
}
 
}

/* ======================= SCREEN 1440px ================================================ */


@media screen and (min-width: 1440px) {
  .mainContainer {
    
    width: 672px;
    height: 732px;
    gap: 32px;
    margin-top: 32px;
    /* margin-left: 32px; */
    float: left;
  }

  .title {
    font-size: 80px;
    line-height: 95%;
    letter-spacing: -0.01em;
    padding-bottom: 32px;
  }

  .welcome {
    padding: 132px 62px;
  }

  .singup {
    padding-right: 16px;
  }

  .btn {
    padding-right: 16px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 18px 40px;
  }

  .btnSingIn {
  padding-right: 16px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  padding: 18px 40px;
}



}
