.mainContainer {
  background-color: #f0eff4;
  border-radius: 30px;
  width: 672px;
  height: 732px;
  gap: 32px;
  margin-top: 32px;
  /* margin-left: 32px; */
  float:left;
  
}
/* .logoMain{
     padding-bottom: 32px;
} */
.descr {
  padding-bottom: 16px;
}
/* .logoMain{
   margin-bottom: 132px;
} */

.welcome {
  padding: 188px 62px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 95%;
  letter-spacing: -0.01em;
  color: #323f47;
  padding-bottom: 32px;
}

.singup {
  padding-right: 16px;
}

.btn {
  padding-right: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border: none;
  background-color: #9be1a0;
  padding: 18px 40px;
  border-radius: 30px;
}

.btn:hover{
    background-color: #87D28D;
}
.btnSingIn {
  padding-right: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  padding: 18px 40px;
  border-radius: 30px;
  border: 1px solid #323F47;
}
.btnSingIn:hover{
    border: 1px solid #87D28D;
    color:#87D28D;
    
}