.section {
  display: flex;
  gap: 32px;
}

.container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 16px;
  background: #f0eff4;
  border-radius: 30px;
  width: 100%;
  gap: 172px;

  @media (max-width: 374.98px) {
    max-width: 375px;
  }

  @media (min-width: 375px) {
    width: 375px;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding: 32px;
  }

  @media (min-width: 1440px) {
    gap: 0px;
    max-width: 672px;
  }
}

.advantSect {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    width: 672px;
  }
}
